
body{
    margin: auto;
}

.pintd{
    background-color: rgb(33, 121, 33);
}

.greis{
    background-color: rgb(240, 238, 237);
    border-color: aliceblue;
    color: gray;
}

.foto{
    background-color: rgb(240, 238, 237);
}